<div class="start-template">
  <p class="lead">What's happening?</p>
</div>

<div class="col-md-6 col-md-offset-3">
  <form action="" id="sendTweet">
    <input type="text" name="tweet" id="tweet" class="form-control d-inline col-6">
    <button class="btn btn-primary">Send</button>
  </form>
  <br />
  <div id="tweetList">
    {{#each tweets}}
    <div class="media">
      <div class="media-left">
        <a href=""><img src="{{ owner.photo }}" alt="" class="media-object"></a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{owner.name}}</h4>
        <p>{{ content }}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>
