<div class="start-template">
  <p class="lead">What is happening?</p>
</div>

<div class="col-md-6 col-md-offset-3">
  <form action="" id="sendUpdate">
    <input type="text" name="update" id="update" class="form-control d-inline col-6">
    <button class="btn btn-primary">Send</button>
  </form>
  <br />
  <div class="updates">
    <div class="media">
      <div class="media-left">
        <a href=""><img src="{{ user.photo }}" alt="" class="media-object"></a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ user.name }} </h4>
        <p>Hello</p>
      </div>
    </div>
  </div>
</div>
