<div class="starter-template">
  <h1>Welcome to LiveScores</h1>
  <p class="lead">Get the latest text updates from your friends and family</p>

  <div class="col-md-8 col-md-offset-4">
    <a href="/signup" class="btn btn-warning btn-lg">Signup</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
  </div>

  <div class="col-md-8 col-md-offset-4">
    <h2>Games currently in progress:</h2>
    <ul>
      <li><a href="/matchup/1">Andy vs Ross - squash (@joan)</a></li>
      <li>Rongotai vs Wellington College - hockey - (@todd)</li>
    </ul>
    <h2>Past Matches (replay)</h2>
    <ul>
      <li>Dave vs Nick</li>
      <li>Tawa vs Scots</li>
      <li>NZ vs Australia</li>
    </ul>
  </div>
</div>
