<div class="starter-template">
  <h1>Welcome to LiveScores</h1>
  <p class="lead">Get the latest text updates from your friends and family</p>

  <div class="col-md-8col-md-offset-4">
    <a href="/signup" class="btn btn-warning btn-lg">Signup</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
  </div>
</div>
